@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: "Bebas Neue";
  src: url("fonts/bebasneue.woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 1rem 2rem;
  background: black;
  background-image: url("images/binding-dark.png");
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 0.15rem solid hsl(0, 0%, 25%);
  border-radius: 0.5rem;
  background: hsl(0, 0%, 10%);
  background-image: url("images/binding-dark.png");
  color: hsl(0, 0%, 85%);
  font-family: "Roboto", serif;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* margin: 0.25rem; */
  padding: 0 0.5rem;
  /* border: 0.1rem solid hsl(0, 0%, 25%); */
  border-width: 0.15rem;
  border-style: solid;
  border-image: linear-gradient(to top, hsla(207, 74%, 52%, 0.5), hsl(273, 67%, 40%, 0.5)) 1;
  border-radius: 0.25rem;
  background-image: url("images/binding-dark.png");
}

.header-image {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
}

.header-title {
  font-family: "Bebas Neue", serif;
  font-size: 4.5rem;
  background-image: linear-gradient(0deg, hsl(207, 74%, 52%) 0%, hsl(273, 67%, 40%) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.functionality-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* margin: 0.25rem; */
  padding: 0.5rem;
  /* border: 0.1rem solid hsl(0, 0%, 25%); */
  border-width: 0.15rem;
  border-style: solid;
  border-image: linear-gradient(to top, hsl(207, 74%, 52%, 0.5), hsl(273, 67%, 40%, 0.5)) 1;
  border-radius: 0.25rem;
  background-image: url("images/binding-dark.png");
}

.show-select,
.season-select,
.episode-select,
.reset-selection-button,
.search-show-input,
.search-episode-input {
  padding: 0.25rem 0.5rem;
  border: 0.1rem solid hsl(0, 0%, 25%);
  /* border-radius: 0.25rem; */
  background: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 85%);
  font-family: "Roboto", serif;
  cursor: pointer;
  box-shadow: hsla(0, 0%, 0%, 0.5) 0.1rem 0.1rem 0.15rem;
}

.reset-selection-button:hover {
  background: hsl(0, 0%, 25%);
}

.main-container {
  display: flex;
  /* flex-wrap: wrap; */
  /* padding: 0.5rem; */
  gap: 0.5rem;
  /* background-image: url("images/binding-dark.png"); */
  /* margin: 0.25rem; */
  /* border: 0.1rem solid hsl(0, 0%, 25%); */
  /* border-radius: 0.5rem; */
}

.shows-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-grow: 0; */
  /* justify-content: center; */
  gap: 0.5rem;
  /* padding: 0.5rem; */
  background: hsl(0, 0%, 10%);
  background-image: url("images/binding-dark.png");
  /* border: 0.2rem solid green; */
}

.show-container {
  width: 220px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  /* border: 0.1rem solid hsl(0, 0%, 25%); */
  border-width: 0.15rem;
  border-style: solid;
  border-image: linear-gradient(to top, hsl(207, 74%, 52%, 0.5), hsl(273, 67%, 40%, 0.5)) 1;
  /* border-top: 0.1rem solid hsl(273, 67%, 40%);
  border-left: 0.1rem solid hsl(207, 74%, 52%);
  border-right: 0.1rem solid hsl(207, 74%, 52%);
  border-bottom: 0.1rem solid hsl(207, 74%, 52%); */
  /* border-radius: 0.5rem; */
  background-color: hsl(0, 0%, 15%);
  background-image: url("images/binding-dark.png");
  color: hsl(0, 0%, 85%);
  cursor: pointer;
  box-shadow: hsla(0, 0%, 0%, 0.5) 0.1rem 0.1rem 0.15rem;
}

.show-image {
  align-self: center;
  border-radius: 0.5rem;
  width: 150px;
  height: 225px;
}

.show-title {
  font-size: 1.05rem;
  font-weight: 600;
}

.show-rating {
  font-size: 0.8rem;
  font-weight: 500;
}

.show-genres {
  font-size: 0.8rem;
  font-weight: bold;
}

.show-summary {
  font-size: 0.7rem;
  font-weight: 400;
}

.show-premiered,
.show-ended {
    font-size: 0.7rem;
    font-weight: 500;
}

.seasons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  /* padding: 0.5rem; */
  background-color: hsl(0, 0%, 10%);
  background-image: url("images/binding-dark.png");
  /* border: 0.1rem solid yellow; */
}

.season-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  /* border: 0.1rem solid hsl(0, 0%, 25%);
  border-radius: 0.5rem; */
  border-width: 0.15rem;
  border-style: solid;
  border-image: linear-gradient(to top, hsla(207, 74%, 52%, 0.5), hsl(273, 67%, 40%, 0.5)) 1;
  background-color: hsl(0, 0%, 15%);
  background-image: url("images/binding-dark.png");
  color: hsl(0, 0%, 85%);
  cursor: pointer;
}

.season-image {
  display: block;
  border-radius: 0.5rem;
  width: 150px;
  height: 225px;
}

.season-title {
  font-size: 1.05rem;
  font-weight: 600;
}

.episodes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* padding: 0.5rem; */
  background: hsl(0, 0%, 10%);
  background-image: url("images/binding-dark.png");
  /* border: 0.1rem solid purple; */
}

.episode-container {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  /* border: 0.1rem solid hsl(0, 0%, 25%);
  border-radius: 1rem; */
  background: hsl(0, 0%, 15%);
  background-image: url("images/binding-dark.png");
  color: hsl(0, 0%, 85%);
  border-width: 0.15rem;
  border-style: solid;
  border-image: linear-gradient(to top, hsl(207, 74%, 52%, 0.5), hsl(273, 67%, 40%, 0.5)) 1;
}

.episode-title {
  font-size: 1rem;
  font-weight: bold;
}

.episode-image {
  border-radius: 0.5rem;
}

.episode-summary {
  font-size: 0.8rem;
}